.elementCard img{
    width: 100%;
    height: auto;
}
.formEdit{
    text-align: left;
    padding: 10px;
}
.formEdit label{
    width: 300px;
    display: inline-block;
}
.formEditRow .formEditCancel{
    margin-right: 10px;
}

.formEditRow button{
    padding: 5px;
}