.table {
    max-width: 600px;
    margin: auto;
    text-align: left;
}
.selected{
    background-color: red;
}
.rowWrapper {
    overflow-x: hidden;
    margin: 10px auto;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 7px 0 rgba(29, 54, 79, 0.08);

}
.rowWrapper:not(.selected) {
    height: 70px;
    transition: height .5s ease
}

.rowWrapper.selected{
    height: 350px;
    transition: height .5s ease
}

.formCreateAdd{
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
    position: relative;
    padding: 15px 45px;
    background-color: #0063ec;
    box-shadow: 0 4px 7px 0 rgba(29, 54, 79, 0.08);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.formCreateAdd .add{
    padding-left: 20px;
}
