.element {
    text-align: left;
    display: flex;

}
.element button{
    flex: 0 0 0;
    align-self: center;
}
.element .elementName{
    flex: 1 1 0;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #0063ec;
    cursor: pointer;

}

